# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
tfplan
*.auto.tfvars
*.backup
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
*.tfvars.json
.DS_Store